
<h1>
  {{title}}
</h1>

<div class="players">
  <div [hidden]="matchOn" class="winner-indicator">
    <div class="winner-icon-bar">
      <mdl-icon class="winner-gets-a-cake">cake</mdl-icon>
    </div>
    <div class="winner-icon-bar">
      <mdl-icon [ngClass]="{ 'is-the-winner': isTheWinner(0) }" class="winner-left mirror-horizontally">play_arrow</mdl-icon>
      <mdl-icon [ngClass]="{ 'is-the-winner': isTheWinner(draw) }" class="winner-none">stop</mdl-icon>
      <mdl-icon [ngClass]="{ 'is-the-winner': isTheWinner(1) }" class="winner-right">play_arrow</mdl-icon>
    </div>
  </div>

  <player *ngFor="let player of players" [player]="player" [matchOn]="matchOn" (onChoiceMade)="onPlayerChoice( player.id, $event )"></player>
</div>

<div class="bay">
  <button
    *ngIf="!matchOn"
    class="button-new-match"
    (click)="startNewMatch()"
    mdl-button
    mdl-button-type="raised"
    mdl-ripple>Play another match</button>
</div>



